:host {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 10px;

    .step-pane {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }

  }
}
