<div class="wizard-navigation">
  <div  *ngFor="let step of steps; let i = index" [ngClass]="{ 'active': currentStep == i, 'step': true }">{{ step.stepTitle || 'Step ' + (i + 1) }}<span class="arrow"></span></div>
  <div class="spacer"></div>
  <div class="actions">
    <button class="btn btn-previous" [disabled]="currentStep == 0" (click)="onPrevious()"><i class="fa fa-chevron-left"></i>Previous</button>
    <button class="btn btn-next" *ngIf="currentStep < steps.length - 1" [disabled]="isNextDisabled" (click)="onNext()">Next<i class="fa fa-chevron-right"></i></button>
    <button class="btn btn-finish" *ngIf="currentStep == steps.length - 1" [disabled]="isFinishDisabled" (click)="onFinish()">Finish</button>
  </div>
</div>

<div class="step-content col-12 float-right">
    <ng-content></ng-content>
</div>
