@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/mixins/breakpoints";

$step-inactive-bg-color: #d4d4d4;
$line-height: 46px;
$font-color: #999;

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $step-inactive-bg-color;
}

.wizard-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  //margin: 0 15px;
  font-size: 1.5rem;
  border-bottom: 1px solid $step-inactive-bg-color;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    .steps {
      width: 100%;
      height: 2em;
      .step {
        padding: 0;
        &:before, &:after {
          display: none;
        }
      }
    }

    .actions {
      width: 100%;
    }
  }

  .steps {
    display: flex;
  }

  .step {
    display: flex;
    flex-direction: column;
    //align-center: center;
    justify-content: center;
    margin: 0;
    padding: 0 0.2em 0 1em;
    position: relative;
    background: #f7f7f7;
    color: $font-color;
    cursor: not-allowed;
    &.navigatable {
      cursor: pointer;
      cursor: hand;
      background-color: mintcream;

      &:before {
        border-left-color: mintcream;
      }
    }
    & > span {
      z-index: 3;
      font-size: 1em;

      @include media-breakpoint-down(md) {
        font-size: 1em;
      }
    }

    &:after {
      border: 0.78em solid transparent;
      border-left: 0.85em solid $step-inactive-bg-color;
      border-right: 0;
      display: block;
      position: absolute;
      right: -0.8em;
      top: 1px;
      z-index: 1;
      content: "";
    }

    &:before {
      border: 0.78em solid transparent;
      border-left: 0.8em solid #f7f7f7;
      border-right: 0;
      content: "";
      display: block;
      position: absolute;
      right: -0.65em;
      top: 1px;
      z-index: 2;
    }

    &.active {
      background: #ffffff;
      color: #4285f4;
      &:before {
        border-left: 0.8em solid #ffffff;
      }
    }

  }
}

.wizard-navigation > .spacer {
  flex: 1;
}

.wizard-navigation > .actions {
  line-height: $line-height;
  padding: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  & > button {
    flex-basis: 50%;
    flex-grow: 0;
    border: none;
    border-left: 1px solid $step-inactive-bg-color;
    border-radius: 0;
    background-color: transparent;
    color: $font-color;

    &:hover {
      outline: none;
      box-shadow: inset 0 0 0.6rem $step-inactive-bg-color;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &.btn-next, &.btn-finish {
      background-color: green;
      color: white;

      &[disabled] {
        background-color: white;
        color: $font-color
      }
    }


    //i {
    //  font-size: 14px;
    //  margin: 0 5px;
    //}
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.step-content {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

//.wizard-navigation {
//  ul.steps {
//    list-style: none;
//    padding: 0;
//    margin: 0;
//
//    & > li.step {
//      height: 48px;
//      float: left;
//      margin: 0;
//      padding: 0 20px 0 30px;
//      line-height: 46px;
//      position: relative;
//      background: #ededed;
//      background-color: #f7f7f7;
//      color: #999;
//      cursor: not-allowed;
//
//      & > span.arrow {
//        border-left-color: #e0e0e0;
//        border: 24px solid transparent;
//        border-left: 14px solid #d4d4d4;
//        border-right: 0;
//        display: block;
//        position: absolute;
//        right: -14px;
//        top: 0;
//        z-index: 1;
//      }
//
//      & > span.arrow:before {
//        border: 24px solid transparent;
//        border-left: 14px solid #f7f7f7;
//        border-right: 0;
//        content: "";
//        display: block;
//        position: absolute;
//        right: 1px;
//        top: -24px;
//      }
//    }
//
//    & > li.step.active {
//      background: #ffffff;
//      color: #4285f4;
//
//      & > span.arrow:before {
//        border-left: 14px solid #ffffff;
//      }
//    }
//
//    & > li.step:first-child {
//      border-radius: 0;
//      padding-left: 20px;
//    }
//  }
//}
