// Font Size
$font-size-project-description: 0.9em;
$font-size-project-info-column: 0.82em;

$font-size-units-table-headers: 0.9em;

// Width/ Height Size
$navbar-height: 56px;
$size-navbar-height: $navbar-height;


// Colors
$user-info-dropdown-color: #4285f4;
$burger-button-color: #737373;
$main-content-background-color: #EEE;

// Sidenav colors
$sidenav-background-color: #f5f5f5;
$sidenav-link-color: #646464;
$sidenav-link-active-color: #4285f4;
$sidenav-divider-color: #b0b0b0;

// General theme colors
$red: #ea4335;
$green: #34a853;
$yellow: #fbbc04;
$blue: #4285f4;

// Project page
$project-info-column-font-color: #737373;

// Units page
$units-project-list-border-color: #eeeeee;
