@import '~bootstrap/scss/bootstrap';

$page-subtitle-color: #707070;
$breadcrumb-background-color: #4285f4;

// General
.row-component {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border-radius: 3px;
  padding: 20px 5px;
  margin-bottom: 25px;
}

.row-multi-component {
  margin-right: 0;
  margin-left: 0;
}

// Breadcrumb
.breadcrumb-custom {
  color: white;
  margin: 0;
  font-size: 0.75rem;
  background-color: $breadcrumb-background-color;
  height: 40px;
  padding: 11px;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

  margin-bottom: 17px;

  a {
    color: white;
  }

  .breadcrumb-arrow {
    border: 24px solid transparent;
    border-left: 14px solid #f7f7f7;
    border-right: 0;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
  }

  .breadcrumb-step {
    float: left;
    position: relative;
    padding-right: 5px;
    font-weight: 300;
  }

  .breadcrumb-divider {
    float: left;
    padding-right: 8px;
    padding-left: 4px;
  }
}

// Page Title Row
.page-title-row {
  @extend .row;
  @extend .row-component;

  line-height: 30px;

  .dropdown-menu {
    padding: 0;

    .dropdown-item {
      cursor: pointer;
    }  
  }
}

.page-title-subtitle {
  @extend .row;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-bottom: 17px; 
  border-bottom: 1px solid #d9d9d9;    

  .page-title {
    @extend .float-left;
    margin-bottom: 0;
  }

  .page-subtitle {
    font-size: 0.8rem;
    color: $page-subtitle-color;
  }
}


.highlight-border {
  border-top: 5px solid $highlight-blue;
}

// Buttons
.btn-default {
  color: #404040;
  border-color: #dedede;
  background-color: white;  
}

.btn {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid transparent;
  padding: 0 10px;
  font-size: 13px;
  line-height: 28px;
  border-radius: 2px;
}