$red-color: #e73629;
$green-color: #4CAF50;
$blue-color: #2196F3;
$orange-color: #FF5722;
$deep-blue-color: #3F51B5;

$student-colors: (
  red: #e73629,
  green: #4CAF50,
  blue: #2196F3,
  orange: #FF5722,
  deep-blue: #3F51B5
);
