$red-color: #e73629;
$green-color: #4CAF50;
$blue-color: #2196F3;
$orange-color: #FF5722;
$deep-blue-color: #3F51B5;

$student-colors: (
  red: #e73629,
  green: #4CAF50,
  blue: #2196F3,
  orange: #FF5722,
  deep-blue: #3F51B5
);

$categoryColors: (
  category1-color: #F44336,
  category2-color: #F96D1B,
  category3-color: #FF9800,
  category4-color: #A5A328,
  category5-color: #4CAF50,
  students-color : #EEEEEE
);

$categoryBackgrounds: (
  category1-color: #EF5350,
  category2-color: #FF8A65,
  category3-color: #FFB74D,
  category4-color: #A5D6A7,
  category5-color: #81C784,
  category-gold  : #D9A441,
  category-silver: #A8A8A8,
  category-bronze: #965A38,
  category-none  : #FFFFFF,
  students-color : #EEEEEE
);
