// Modify Bootstrap variables
$enable-rounded: false;
$enable-shadows: true;

@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";
@import "~dragula/dist/dragula";
@import "_student-variables.scss";



body {
  min-height: 100vh;
}

.shadow-layer-1 {
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-layer-2 {
  box-shadow: 0 8px 16px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-layer-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-hoverable:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

$dark-text-default: #000 !default;
$light-text-default: #fff !default;

@function power($number, $power) {
  $exponent: 1;

  @if $power > 0 {
    @for $i from 1 through $power {
      $exponent: $exponent * $number;
    }
  } @else if $power < 0 {
    @for $i from 1 through $power {
      $exponent: $exponent / $number;
    }
  }

  @return $exponent;
}

@function de-gamma($n) {
  @if $n <= 0.04045 {
    @return $n / 12.92;
  } @else {
    @return power((($n + 0.055)/1.055),2.4);
  }
}

@function re-gamma($n) {
  @if $n <= 0.0031308 {
    @return $n * 12.92;
  } @else {
    @return 1.055 * power($n,1/2.4) - 0.055;
  }
}

@function brightness($c) {
  $rlin: de-gamma(red($c)/255);
  $glin: de-gamma(green($c)/255);
  $blin: de-gamma(blue($c)/255);
  $rgamma: re-gamma(0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin);
  @return $rgamma * 100;
}

@function contrast-color ($color, $dark: $dark-text-default, $light: $light-text-default){
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}
